* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GRID AREA */

.logo {
  grid-area: logo;
}

.navbar {
  grid-area: header;
}

.dedication-p {
  grid-area: dedication-p;
}

.dedication-img {
  grid-area: dedication-img;
}

.personal-p {
  grid-area: personal-p;
}

.personal-img {
  grid-area: personal-img;
}

.mainimg {
  grid-area: mainimg;
}

.goal {
  grid-area: goal;
}

.footer {
  grid-area: footer;
}

.product-range-h2 {
  grid-area: product-range-h2;
}

.flex-container {
  grid-area: flex-container;
}

.contact-wrap {
  grid-area: contact-wrap;
}

.mail-contact {
  grid-area: mail-contact;
}

.map {
  grid-area: map;
}

.mail-black{
  grid-area: mail-black;
}

.map-black{
  grid-area: map-black;
}


/* GRID AREA */

.logo {
  align-self: center;
  text-align: center;
  color: white;
  /* padding: 5rem; */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  grid-template-rows: auto;
  grid-template-areas: ". logo logo . . header header header" "footer footer footer footer footer footer footer footer";
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  color: white;
  float: left;
  list-style-type: none;
  font-size: 1.5rem;
  cursor: pointer;
}
li a {
  display: inline-block;
  padding: 1.5rem;
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
}

a:hover {
  color: rgb(185, 185, 185);
}

img {
  width: 100%;
}

.mainwrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "mainimg mainimg mainimg mainimg mainimg mainimg" "dedication-p dedication-p . dedication-img dedication-img ." "goal goal goal goal goal goal" ". personal-p personal-p personal-img personal-img ." "footer footer footer footer footer footer";
}

.mainimg {
  background-image: url(assets/img/sweets-887722_1920.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 60vh;
}

.goal {
  background: url(assets/img/apple-pie-474954_1920.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: 100%;
  height: 50vh;
}

.dedication-img,
.dedication-p,
.personal-p,
.personal-img {
  padding: 3rem;
}

.goal h2,
.goal p {
  text-align: center;
  color: red;
  margin-top: 8rem;
}

.goal button {
  display: block;
  width: 8%;
  height: 5em;
  cursor: pointer;
  margin: 8rem auto 0 auto;
}

.dedication-p,
.personal-p {
  align-self: center;
  text-align: center;
}

.footer {
  height: 5rem;
  background: black;
}

.footer {
  display: flex;
}

.footer-icons {
  margin: 0 auto;
}

i {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

/* .gallery-wrap {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". . . product-range-h2 product-range-h2 . . ." "footer footer footer footer footer footer footer footer";
  margin-top: 10em;
} */

.gallery-wrap {
  margin-top: 8%;
  margin-bottom: 4%;
}

.product-range-h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .flex-container img {
  width: 48%;
  margin: 1%;
} */

/* .flex-container img {
  width: 32%;
  margin: 0.6%;
} */

.flex-container img {
  width: 24%;
  margin: 1%;
  box-shadow: 10px 20px 20px 5px rgba(0, 0, 0, 0.3);
}

.contact-wrap {
  /* background:url(assets/img/sweets-tea-snacks-4313400_1920.jpg)center center/cover no-repeat; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto;
  grid-template-areas: "mail-contact mail-black" "map-black map" "footer footer";
}

.mail-black{
  background: black;
  border-radius: 100% 0 0 0.4%;
}
.map-black{
  background:black;
  border-radius: 0 100% 0 0;
}

/* .contact-wrap::after{
content:"";
background:url(assets/img/sweets-tea-snacks-4313400_1920.jpg)center center/cover no-repeat;
background-attachment: fixed;
opacity: 0.9;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1;  
} */

.mail-contact {
  display: flex;
  justify-content: center;
  height: 95vh;
  line-height: 1.6rem;
  font-size: 1.2rem;
}


.mail-form {
    width: 50%;
  align-self: center;
}

.mail-form input {
  display: block;
  width: 100%;
}
.mail-form h2{
  margin-bottom: 2rem;
  color: black;
}

.mail-form p{
  color:black;
  font-weight: 500;
  margin-bottom: 2rem;
  letter-spacing: 0.08rem;
}



.map {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 95vh;
}

textarea {
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  resize: vertical;
  overflow: auto;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.3rem;
  border:1px solid rgb(145, 145, 145);
  color: rgb(81, 81, 81);
  transition: 0.2s;
}

textarea:focus{
  box-shadow: 0px 0px 10px 3px rgba(145, 145, 145, 0.671);
}

input[type=text], input[type=email]{
  width: 70%;
  padding: 0.5rem;
  font-size: 1rem;
  color: rgb(81, 81, 81);
  margin: 0.5rem 0 0.5rem 0;
  border: 1px solid rgb(145, 145, 145);
  transition: 0.2s;
}
input:focus{
  box-shadow: 0px 0px 10px 3px rgba(145, 145, 145, 0.671);
}

input[type=submit]{
  width: 90px;
  background: black;
  color: white;
  border-radius: 10%;
  padding:0.8rem;
  margin-top: 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  transition: 0.3s;
}
input[type=submit]:hover{
  box-shadow: 0px 0px 10px 3px rgba(145, 145, 145, 0.671);
}


.map-box {
  width: 65%;
  height: 30%;
  align-self: center;
  border: 2px solid  rgb(202, 202, 202);
}

.location{
  display: flex;
  align-items: center;
  width: 65%;
  height: 30%;
  align-self: center;
  line-height: 1.6rem;
  font-size: 1.2rem;
}

.location p{
font-weight: 500;
}


/* .mainimg {
  background-image: url(assets/img/sweets-887722_1920.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 51vh;
}

.dedication-img img {
  width: 100%;
}

.dedication {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". dedication-p . dedication-img dedication-img";
  margin-top: 4rem;
  padding: 3rem;
}

.dedication-p {
  align-self: center;
  text-align: center;
}

.dedication-p p {
  margin-top: 1rem;
}

h2 {
  font-size: 2rem;
}

.goal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background: url(assets/img/apple-pie-474954_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  height: 50vh;
}

.goal h2, .goal p, .personal-p {
  text-align: center;
  align-self: center;
}

.goal-btn {
  width: 8%;
  height: 5em;
}

.goal button {
  margin: 0 auto;
  cursor: pointer;
}

.personal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". personal-p . personal-img personal-img";
  margin: 4rem;
}

.personal img {
  width: 100%;
} */
